{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Réinitialiser le mot de passe</title>
</head>
<body>
    
    <form method="POST" action="{{ url_for('reset_password_form', email=request.args.get('email')) }}">
        <div>
            <label for="password">Nouveau mot de passe</label><br>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="confirm_password">Confirmer le mot de passe</label><br>
            <input type="password" name="confirm_password" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
        </div>
    </form>
</body>
</html>
{% endblock %}
